<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <meta name="Viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />           
        <title>BOILERPLATE!!</title>
    </head>
    <body class="d-flex flex-column  vh-100">
        <%- include('../partials/Navbar') %> 
        <main class="container mt-5">
            <%- include('../partials/flash') %> 
            <%- body %>
        </main>
        <%- include('../partials/footer') %> 
        <script src="/js/bootstrap.bundle.min.js"></script> 
        <script src="/js/validateForm.js"></script>
        <script ></script>
    </body>
</html>

